@model ArticlesViewModel

@foreach (var article in Model.Articles)
{
    <div class="card mb-3 mt-3">
        <div class="row">
            <div class="col-md-4">
                <img class="mx-auto d-block" style="height:250px" src="@article." alt="@article." asp-append-version="true" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        @article.Title
                    </h5>
                    <p>@article.Description</p>
                </div>
            </div>
        </div>
    </div>
}