@model List<BookModel>

@foreach (var book in Model)
{
    <div class="card mb-3" style="">
        <div class="row">
            <div class="col-md-4">
                <img class="mx-auto" style="height:380px" src="@book.ImgUrl" alt="@book.Name" asp-append-version="true" /> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        @book.Name
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
