@model BookModel
@using Books.Enums;
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" type="text" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="datetime-local" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language"></label>
        <select asp-for="Language" asp-items="@Html.GetEnumSelectList<BookLanguage>()"></select>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select onchange="changedSelectElement()" id="translationState" asp-for="Type" asp-items="@Html.GetEnumSelectList<BookTranslationState>()"></select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    @if (Model.Type == 0)
    {
        <div class="form-group">
            <input type="file" class="form-control-file" name="file" />
        </div>
    }
    else
    {
    }
    <input type="submit" class="btn btn-primary" />
</form> 

<script>
    function changedSelectElement() {
        const bookState = translationState.options[translationState.selectedIndex].text
        var url = new URL(window.location.href); 
        if (state == "Законченный") {
            url.searchParams.set('type', bookState)
            window.history.replaceState(null, null, url);
            location.reload();
        }
        else {
            url.searchParams.set('type', bookState)
            window.history.replaceState(null, null, url);
            location.reload();
        }
    }
</script>